<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlongs.popwindowapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="3" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".path.base9.PathTest9Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PopActivity"/>
        <activity android:name=".path.base8.PathTest8Activity"/>
        <activity android:name=".path.base8.PathCoreMainActivity"/>
        <activity android:name = ".sufure.youku.YouKuActivity" />
        <activity android:name = ".them.ThemeActivity" />

        <meta-data android:name="com.example.androidlongs.popwindowapplication.img.glide.GlideConfiguration"
                   android:value="GlideModule"/>
    </application>

</manifest>